// Variables
$basefont-size: 15px;
$small-font-size: 14px;
$baseline-height: 20px;
$base-color: #00334e;
$base-color1: #033f6a;
$link-color: #3498db;
$hover-color: #e22323;
$page-width: 1200px;
$border-color: #e4e4e4;
$gray-color: #ccc;
$dark-gray: #353535;
$light-gray-color: #eee;
$coffee-color: #f6f5f5;
$SecondaryCards: #dcdcdc;
$mostpopular: #ffd634;
$yellow-color: #ffd634;
$twitter-color: #1da1f2;
$fb-color: #3b5998;
$linkedin-color: #0077b5;
$youtube-color: #f00;
$insta-color: #fff;

// End Variables
